h1 {
    font-size: 80px;
    font-family: Impact;
    margin: 50px 0;
}
p {
    font-size: 35px;
    margin: 35px 0;
}
button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
button:hover {
    background-color: green;
}